*.iml
.idea
.mvn
target
logs
tmp
.gtm/

## vscode
.vscode
.settings
.project
org.eclipse.core.resources.prefs
org.eclipse.m2e.core.prefs
.classpath
.factorypath
org.eclipse.jdt.apt.core.prefs
org.eclipse.jdt.core.prefs